<%- include('../partials/header') %> 

<div class="row">
    <% if (recipes.length) { %>
        <% recipes.forEach(recipe => { %>
            <div class="card">
                <div class="col s12 l6">
                    <div class="card-image">
                        <img src="http://img.youtube.com/vi/<%= recipe.youTubeLink.slice(32) %>/0.jpg" alt="YouTube Thumbnail">
                    </div>
                    <div class="card-content">
                        <span class="card-title"><%= recipe.name%></span>
                        <div class="card-action right">
                            <a href="/recipes/<%= recipe._id %>">More</a>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %> 
    <% } else { %>
        <h3>No Recipes Yet</h3>
    <% }; %>
</div>

<%- include('../partials/footer') %> 