<%- include('../partials/header') %> 

<div>
    <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <label>Name of Recipe:</label>
        <input type="text" name="name" value="<%= recipe.name %>" required>
        <label>YouTube Link:</label>
        <input type="text" name="youTubeLink" value="<%= recipe.youTubeLink %>" required>
        <label>Directions:</label>
        <textarea class="materialize-textarea" id="t-a-dir" name="directions" required><%= recipe.directions %></textarea>
        <label>Ingredients:</label>
        <textarea class="materialize-textarea" id="t-a-ing" name="ingredients" required><%= recipe.ingredients%></textarea>
        <input class="btn cyan waves-effect waves-light white-text" type="submit" value="Update Recipe">
    </form>
</div>

<%- include('../partials/footer') %> 