<%- include('../partials/header') %> 

<div>
    <h4><%= `${recipe.name}` %></h4>
    <div class="video-container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/<%= recipe.youTubeLink.slice(32) %>?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    <p> <%= `Directions:` %></p>
    <p> <%= recipe.directions %> </p>
    <p><%= `Ingredients:` %></p>
    <p> <%= recipe.ingredients %></p>
    <p><%= `Submitted by ${recipe.author[0].name}` %></p>
    <% if (user) { %>
        <% if (user._id.equals(recipe.author[0]._id)) { %>
            <div class="edit-delete">
                <form action="/recipes/<%= recipe._id %>/edit" method="GET">
                    <button class="btn cyan waves-effect waves-light white-text" type="submit">EDIT</button>
                </form>
                <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                    <button class="btn cyan waves-effect waves-light white-text" type="submit">DELETE</button>
                </form>
            </div>
        <% } %> 
    <% } %> 
</div>
<% if (user) { %> 
<div>
    <h5>Add Comment</h5>
    <form action="/comments/<%= recipe._id %>" method="POST">
        <label>Comment:</label>
        <textarea class="materialize-textarea" name="comment" required></textarea>
        <input type="hidden" name="author" value="<%= user._id %>">
        <input class="btn cyan waves-effect waves-light white-text" type="submit" value="Add Comment">
    </form>
</div>
<% } %>
<h5>Comments:</h5>
<% if (recipe.comments.length) { %> 
    <% recipe.comments.forEach(comment => { %>
        <div>
            <h6><%= comment.author[0].name %></h6>
        </div>
        <div>
            <p><%= comment.comment %></p>
        </div>
        <% if (user) { %>
            <% if (user._id.equals(comment.author[0]._id)) { %> 
                <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <button class="btn cyan waves-effect waves-light white-text" type="submit">DELETE</button>
                </form>
            <% } %> 
        <% } %>
    <% }); %>
<% } else { %>
    <p>No comments yet</p>
<% } %>  
</div>
<%- include('../partials/footer') %> 